data
.DS_store
*.out
dsnt/*
*.keras
*.sif
visualizations/*.png
*__pycache__*
wandb/*
wandb/
/.idea/*
/.idea/
/wandb/latest-run/
/extras/
extras/*
/logs/
logs/*
/tmp/
tmp/*
outputs/*
.vscode/*
visualizations/*
results/*
30_07_25/*
notebooks/speedscore_plots/*
v1_results/*
notebooks/speedscore_plots.zip